### 기본 라이브러리를 활용한 캐글 대회 참석(나의 첫 모델 만들기)
* 데이터 불러오기
* 데이터 탐색
* 데이터 모델 만들기

### 준비

* 캐글 데이터 셋을 다운로드 받는다.
* site : https://www.kaggle.com/c/titanic/data
* 데이터 올리기

### 데이터 설명

* Survival 생존 여부 Survival. 0 = No, 1 = Yes 
* Pclass 티켓의 클래스 Ticket class. 1 = 1st, 2 = 2nd, 3 = 3rd 
* Sex 성별(Sex) 남(male)/여(female) 
* Age 나이(Age in years.) 
* SibSp 함께 탑승한 형제와 배우자의 수 /siblings, spouses aboard the Titanic. 
* Parch 함께 탑승한 부모, 아이의 수 # of parents / children aboard the Titanic. 
* Ticket 티켓 번호(Ticket number) (ex) CA 31352, A/5. 2151 
* Fare 탑승료(Passenger fare) 
* Cabin 객실 번호(Cabin number) 
* Embarked 탑승 항구(Port of Embarkation) C = Cherbourg, Q = Queenstown, S = Southampton

In [2]:
import pandas as pd

In [11]:
train = pd.read_csv("train.csv") 
test = pd.read_csv("test.csv")

In [12]:
!pwd

/home/nbuser/library

In [13]:
!ls

01_Python_Library.ipynb  03_DL_Model.ipynb	iris.csv   README.md  train.csv
02_FirstModel.ipynb	 gender_submission.csv	iris.xlsx  test.csv

In [15]:
print(train.shape) 
print(test.shape)

(891, 12)
(418, 11)

In [17]:
print(train.columns) 
print(test.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [19]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### 모델 생성 후, 제출

In [22]:
from sklearn.neighbors import KNeighborsClassifier

In [23]:
sel = ['Pclass', 'SibSp', 'Parch' ] 
# 학습에 사용될 데이터 준비 X_train, y_train 
X_train = train[sel] 
y_train = train['Survived'] 
X_test = test[sel]

In [30]:
model = KNeighborsClassifier() 
model.fit(X_train, y_train) 
predictions = model.predict(X_test) 
predictions[:15]

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1])

In [31]:
sub = pd.read_csv("gender_submission.csv") 
print(sub.columns)
sub[sub.Survived < 0 ]

Index(['PassengerId', 'Survived'], dtype='object')

Empty DataFrame
Columns: [PassengerId, Survived]
Index: []

In [33]:
sub['Survived'] = predictions 
sub.head(10)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1
5          897         0
6          898         0
7          899         1
8          900         0
9          901         0

In [34]:
sub.to_csv("knn_first_model.csv", index=False)

### 제출
* 만들어진 knn_first_model.csv 파일을 다운로드 후, 
* kaggle 사이트 접속 후, (https://www.kaggle.com/c/titanic)
* Submit Predictions 버튼을 선택 후, csv파일 제출
* 결과 확인

### REF
* scikit-learn 사이트 : https://scikit-learn.org/stable/index.html
* 판다스 10분(데잇걸즈) : https://dataitgirls2.github.io/10minutes2pandas/